

/*main style for website*/

body{
	margin:0px;
	padding: 0px;
	background-color: #31A2D6;
	color: white;
}

.sign-in {
	color:white;
	font-size:30px;
}

.sign-out {
	color:white;
	font-size:30px;
	padding-right:70px;
}


.shop-box {
	text-align:center;
	margin-top:150px;
	margin-bottom:50px;
}
 .shop-box h1 {
 	color:#CC4F00;
 	font-size:60px;
 }

 .shop-table {
 	margin:0 auto;
 	width:50%;
 	text-align: center;
 	background-color:white;
 	color:black;
 	padding-top:140px;
 }

 .dodaj {
 	color:white;
 	font-size:25px;
 }

 .kontakt {
 	color:white;
 }

 .obrisi {
 	background-color:#CC4F00;
 	text-decoration:none;
 	color:white;
 	border-radius:30px;
 }

 .edituj {
	background-color:#31A2D6;
 	text-decoration:none;
 	color:white;
 	border-radius:30px;
 }

 .igor {
 	color:#CC4F00;
 	background-color:white;
 }